
/*  NAV-SECTION area  */

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.nav-links {
    text-decoration: none;
}

.card-header {
    display:flex;
    justify-content: center;
    font-family: "noticia text";
    margin-top: 100px;
}

button {
    background-color: #3b5998;
    color: white;
    font-size: 15px;
    padding: 0 20px 0;
    width: 100px;
    display: block;
    margin: auto;  
    margin-top: 200px; 
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
   
 }

.card {
    border: solid 1.5px #3b5998;
    border-radius: 3px;
    margin-top: 50px;

}

span {
    color: 	#3b5998;
    font-weight: bold;

}

/* MAIN area */

.img1, .img2, .img3, .img4 {
    width: 100%;
    border-radius: 3px;
}

figcaption {
    color: #3b5998;
    font-style: italic;
}

.main-area {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* FOOTER area */

.footer-area {
    border: solid 1.5px #3b5998;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;  
    margin-bottom: 8px;
}

p {
    color: #3b5998;
    font-weight: bold;
}

h2 {
    color: #003366;
    display:block;
    width:130px;
    margin: auto;
    margin-bottom: 50px;
    text-decoration: underline;
}

/*  BLOG POST header - article area  */

.h1-header {
    font-family: "source sans pro";
    display: block;
    width: 170px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #006600;
}

.article1 {
    border: solid 1.5px #006600;
    border-radius: 3px;
    font-weight: bold;
}

.header-p{
    margin: 15px;
    color: #006600;
}

.avatar {
    width: 50px;
    height: 50px;
    float: right;
}

.article2 {
    margin-top: 50px;
}

.blog-footer {
    border: solid 1.5px #006600;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 8px;
}





