@media (max-width: 1024px) {
    
    .PRB {
        color: #1044FF;
        width: 62px;
        height: 80px;
        margin-left: 28px;
        font-family: "Noticia Text";
        font-size: 30px;
        line-height: 80px;
        letter-spacing: 4px;
    }
    
    .first-box{
        background: #FFE7E7;
        width: 360px;
        height: 640px;
        margin-bottom: 28px;
    }

    .pierre {
        color: #1044FF;
        width: 286px;
        height: 160px;
        margin-top: 221px;
        margin-left: 27px;
        margin-bottom: 0;
        font-family: "Noticia Text";
        font-size: 72px;
        line-height: 80px;
    }

    .blog {
        color:#1044FF;
        width: 166px;
        height: 24px;
        margin-top: 14px;
        margin-left: 28px;
        font-family: "Source Sans Pro";
        font-size: 20px;
        line-height: 24px;   
        font-weight: 400;
        letter-spacing: 10%;
     }

     .list {
        color:#1044FF;
        width: 26px;
        height: 22px;
        margin-top: 29px;
        font-size: 5px;
        position: absolute;
        top: 35px;
        right: 10px;
    }

    .sea {
        margin-left: 28px;
        border-radius: 5px;
    }
    
    h4 {
        color: #333333;
        width: 72px;
        height: 24px;
        margin-left: 28px;
        margin-top: 30px;
        font-family: "Source Sans Pro";
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    h3 {
        color: #112A52;
        width: 304px;
        height: 68px;
        margin-left: 28px;
        margin-top: 17px;
        font-family: "Source Sans Pro";
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    .bitmap {
        margin-left: 2px;     
        margin-top: 8px;  
    }

    .graham {
        color: #333333A6;
        width: 111px;
        height: 24px;
        margin-top: 19px;
        font-family: "Source Sans Pro";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .snowymountains {
        margin-left: 28px;
        margin-top: 61px;
        border-radius: 5px;
    }

    .b1 {
        background-color: #1044FF; 
        color:#FFFFFF;
        width: 48px;
        height: 48px;
        margin-top: 66px;
        margin-left: 28px;
        font-family: "Source Sans Pro";
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        border-radius: 3px;
    }

    .b2 {
        color:#1044FF; 
        width: 48px;
        height: 48px;
        margin-left: 8px;
        margin-top: 100px;
        font-family: "Source Sans Pro";
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        border-radius: 3px;
        opacity: 51.58%
    }

    .bnext {
        color: #1044FF;
        width: 192px;
        height: 48px;
        border-radius: 3px;
        margin-left: 8px;
        opacity: 51.58%;
    }

    .box {
        width: 304px;
        height: 368px;
        border: solid #1044FF 1px;
        margin-left: 28px;
        margin-top: 100px;
        border-radius: 3px;
       
    }

    .categories {
        color: #333333;
        width: 113px;
        height: 32px;
        margin-left: 32px;
        margin-top: 40px;
        margin-bottom: 23px;
        font-family: "Source Sans Pro";
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        
    }

    .harum {
        color: #333333;
        width: 49px;
        height: 24px;
        margin-left: 25px;
        font-family: "Source Sans Pro";
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    .index1 {
       margin-left: 170px;
       
    }

    .box2 {
        width: 304px;
        height: 494px;
        margin-left: 28px;
        border: 1px solid #1044FF;
        margin-top: 32px;
    }

    a {
        text-decoration: none;
    }

    .recent-post {

            color: #333333;
            width: 113px;
            height: 32px;
            margin-left: 32px;
            margin-top: 40px;
            margin-bottom: 23px;
            font-family: "Source Sans Pro";
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            
      
    }

    .box3 {
        width:304px;
        height: 224px;
        border: solid #1044FF 1px;
        margin-top: 32px;
        margin-left: 28px;
    }

    .tags {
        color: inherit;
    }

    .h3tag {
        margin-bottom: 0;
    }

    .call {
        background-color:  #FFE7E7;;
        width: 360px;
        height: 672px;
        
        margin: auto;
        margin-top: 100px;
        
        
    }

    .footer {
        background-color:  #1044FF;
        width: 360px;
        height: 670px;
        margin: auto;
        
        
    }

    .contactme {
        font-family: "Source Sans Pro";
        font-weight: 700;
        font-size: 30px;
        padding-top: 80px;
        margin-left: 100px;
        margin-bottom: 80px;
       
    }

    .callbox {
        background-color: rgba(255, 255, 255, 0.55);;
        width: 304px;
        height: 112px;
        margin-top: 30px;
        margin-left: 25px;

    }

    .pfooter {
        color: white;
        width: 62px;
        height: 80px;
        margin-left: 50px;
        padding-top: 50px;
        font-family: "Noticia Text";
        font-size: 30px;
        line-height: 80px;
        letter-spacing: 4px;
    }

    .ftext{
        width: 304px;
        height: 128px;
        border: solid 1px #FFFFFF;
        margin-left: 28px;
    }

    .fp {
        color: 
        #FFFFFF;
        padding-left: 10px;
    }

    .finalfooter {
        width:360px;
        height: 80px;
        background-color: #0C1F3F;
    }

    .ffp {
        color: white;
        margin-left: 50px;
        padding-top: 50px;
    }

    .fbdiv { 
        background-color: #FFE7E7;

    }

    .first-box2 {
        background-color: white;
    }

    .backto {
        text-decoration: none;
        color: inherit;
        margin-left: 10px;
    }





 
 
    










    






    

    
    
    

}

