.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.nav-links {
    text-decoration: none;
}

body {
    background-color: red;
}

.card-header {
    display:flex;
    justify-content: center;
    font-family: "noticia text";
}

